/*Variáveis CSS*/
:root {
  --secondary-bg: rgba(184, 184, 184, 0.25);
  --secondary-bg-hover: rgba(85, 85, 85, 0.4);
  --text-color: #6cd875;
  --shadows: rgba(0, 0, 0, 0.4);
  --input-bg: #251f1f;
  --input-border: rgb(67, 185, 106);
  --button-verde-bg: rgb(67, 185, 106);
  --button-verde-hover-bg: rgb(131, 202, 155);
  --button-azul-bg: rgb(63, 130, 175);
  --button-azul-hover-bg: rgb(127, 170, 199);
  --button-vermelho-bg: rgb(172, 54, 54);
  --button-vermelho-hover-bg: rgb(199, 136, 136);
}

/*Estilos globais*/
body {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  font-optical-sizing: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100%;
  width: 99.8vw;
  max-width: 99.8vw;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0b0b2b, #1b2735 70%, #090a0f);
  overflow-x: hidden;
}

.stars {
  width: 1px;
  height: 1px;
  position: absolute;
  background: white;
  box-shadow: 2vw 5vh 2px white, 10vw 8vh 2px white, 15vw 15vh 1px white,
    22vw 22vh 1px white, 28vw 12vh 2px white, 32vw 32vh 1px white,
    38vw 18vh 2px white, 42vw 35vh 1px white, 48vw 25vh 2px white,
    53vw 42vh 1px white, 58vw 15vh 2px white, 63vw 38vh 1px white,
    68vw 28vh 2px white, 73vw 45vh 1px white, 78vw 32vh 2px white,
    83vw 48vh 1px white, 88vw 20vh 2px white, 93vw 52vh 1px white,
    98vw 35vh 2px white, 5vw 60vh 1px white, 12vw 65vh 2px white,
    18vw 72vh 1px white, 25vw 78vh 2px white, 30vw 85vh 1px white,
    35vw 68vh 2px white, 40vw 82vh 1px white, 45vw 92vh 2px white,
    50vw 75vh 1px white, 55vw 88vh 2px white, 60vw 95vh 1px white,
    65vw 72vh 2px white, 70vw 85vh 1px white, 75vw 78vh 2px white,
    80vw 92vh 1px white, 85vw 82vh 2px white, 90vw 88vh 1px white,
    95vw 75vh 2px white;
  animation: twinkle 8s infinite linear;
}

.shooting-star {
  position: absolute;
  width: 100px;
  height: 2px;
  background: linear-gradient(90deg, white, transparent);
  animation: shoot 3s infinite ease-in;
}

.shooting-star:nth-child(1) {
  top: 20%;
  left: -100px;
  animation-delay: 0s;
}

.shooting-star:nth-child(2) {
  top: 35%;
  left: -100px;
  animation-delay: 1s;
}

.shooting-star:nth-child(3) {
  top: 50%;
  left: -100px;
  animation-delay: 2s;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes shoot {
  0% {
    transform: translateX(0) translateY(0) rotate(25deg);
    opacity: 1;
  }
  100% {
    transform: translateX(120vw) translateY(50vh) rotate(25deg);
    opacity: 0;
  }
}

input,
select {
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
  list-style-type: none;
  color: #000000;
}

button {
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.botao_verde {
  color: rgb(213, 255, 205);
  box-shadow: 2px 2px var(--shadows);
  background-color: var(--button-verde-bg);
}
.botao_verde:hover {
  color: rgb(30, 143, 7);
  background-color: var(--button-verde-hover-bg);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.100);
}
.botao_azul {
  color: rgb(205, 249, 255);
  box-shadow: 2px 2px var(--shadows);
  background-color: var(--button-azul-bg);
}
.botao_azul:hover {
  color: rgb(7, 116, 131);
  background-color: var(--button-azul-hover-bg);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.100);
}
button.botao-vermelho {
  color: rgb(255, 206, 206);
  box-shadow: 2px 2px var(--shadows);
  background-color: var(--button-vermelho-bg);
}
button.botao-vermelho:hover {
  color: rgb(153, 17, 17);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.100);
  background-color: var(--button-vermelho-hover-bg);
}

.seta_icon{
  font-size: large;
}

table {
  margin: 20px 0;
  border-collapse: collapse;
  box-shadow: 3px 3px var(--shadows);
  text-shadow: 2px 2px var(--shadows);
}

th, td {
  padding: 12px;
  text-align: center;
}

td {
  background-color: var(--secondary-bg);
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr {
  transition: 0.5s;
  border-bottom: 1px solid rgb(0, 0, 0);
}

tr:hover {
  background-color: var(--secondary-bg-hover);
}

.forgot_password_conteiner button {
  border: none;
  margin: 3px;
  width: 125px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 4px;
}

table button {
  text-align: center;
  margin-right: 10px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.botaoNoCanto{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

hr {
  width: 100%;
  height: 2px;
  border: none;
  background: linear-gradient(to right, rgb(118, 207, 137), rgb(2, 63, 23));
}

.botao_esqueciSenha {
  cursor: pointer; 
  color: #00f7ff; 
  border-radius: 5px; 
  background-color: rgba(41, 44, 92, 0.473); 
} 
.botao_esqueciSenha:hover {
  color: rgba(21, 28, 131, 0.836);
  background-color: #0a9196
}

.button_eye {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 133px;
  bottom: -12px;
  width: 35px;
  height: 35px;
  font-Size: 35px;
  border: none;
  cursor: pointer;
  background: none;
  position: absolute;
  color: rgba(165, 198, 214, 0.815);
}

.input-container {
  position: relative;
  margin: 1.5rem 0;
  border-radius: 4px;
}

.input-container input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 4px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-container label {
  position: absolute;
  top: 1rem;
  left: 8.7rem;
  color: #999;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container label.floating {
  top: -0.90rem;
  left: 8.2rem;
  padding: 0 0.25rem;
  color: var(--text-color);
}

/*Navbar*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  padding-left: 1%;
  padding-right: 1%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--secondary-bg);
  transition: 0.5s;
}

nav:hover{
  background-color: var(--secondary-bg-hover)
}
.navbar-menu-container {
  display: none;
}
.navbar-links-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-links-container a {
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 2rem;
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 2px 2px var(--shadows);
  transition: 0.5s;
}
.navbar-links-container a:hover {
  font-size: 22px;
}

.primary-button {
  border: none;
  outline: none;
  font-size: 1.1rem;
  border-radius: 5rem;
  padding: 0.9rem 1.75rem;
  color: var(--text-color);
  background-color: rgb(104, 53, 53);
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.nav-logo-container {
  min-width: 5%;
  min-height: 5%;
  max-width: 5%;
  max-height: 5%;
}
.nav-logo-container img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.navbar-cart-icon {
  font-size: 1.15rem;
  transition: 0.5s;
}
.navbar-cart-icon:hover {
  position: relative;
  font-size: 1.70rem;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: #1b70a8;
}

.div_logout{
  float: left;
}
.logout-button {
  display: flex;
  cursor: pointer;
  align-items: center; 
  justify-content: center; 
  gap: 8px;
  font-size: 16px;
  padding: 3px 7px;
  color: rgb(26, 13, 13);
  background-color: #b33a3a;
  transition: 0.5s;
}
.logout-button:hover {
  background-color: var(--button-vermelho-hover-bg);
}
.logout-button.logout_icon {
  width: 18px;
  height: 18px;
}

/*/////////////////////////////////////////*/

/* Containers */
.vt_conteiner,
.forgot_password_conteiner,
.quatroZeroQuatro_conteiner,
.reset_password_conteiner,
.form_trocaSenha,
.login-container {
  text-align: center;
  width: 90%;
  padding: 5% 3%;
  max-width: 500px;
  margin: 5% auto 0 auto;
  box-shadow: var(--shadows);
  border-radius: 25px;
  background-color: var(--secondary-bg);
  transition: 0.5s;
}

.vt_conteiner:hover,
.forgot_password_conteiner:hover,
.quatroZeroQuatro_conteiner:hover,
.reset_password_conteiner:hover,
.form_trocaSenha:hover,
.login-container:hover {
  background-color: var(--secondary-bg-hover);
}

#botaoAtuSen {
  text-align: center;
  width: 35%;
  padding: 10px;
  margin-top: 15px;
}

/*/////////////////////////////////////*/

/* Container de geral */
.quatroZeroQuatro_conteiner,
.trocaSenha_conteiner_geral,
.agenda_conteiner_geral,
.horarios_container_geral,
.conteiner_empresas_geral,
.conteiner_usuario_geral
{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*conteiners formularios*/
.quatroZeroQuatro_conteiner{
  margin-left: auto;
  margin-right: auto;
}

.form-atualizacao {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding: 20px;
  min-width: 300px;
  transition: 0.5s;
}
.form-atualizacao label {
  align-self: flex-start;
}
.form-atualizacao input {
  min-width: 100px;
  width: 280px;
  text-align: center;
}
.form-atualizacao_botao {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 10px;
}

.form-atualizacao button {
  border: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  min-width: 25px;
  min-height: 25px;
  margin: auto auto 5px auto;
}

#tipo_usuario{
  min-width: 100px;
  width: 298px;
  text-align: center;
}

.form_usuario,
.form_horario,
.form_empresa,
.form_agenda {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
  min-width: 300px;
  max-width: 1000px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: var(--secondary-bg);
  transition: 0.5s;
}

.form_usuario:hover,
.form_horario:hover,
.form_empresa:hover,
.form_agenda:hover {
  background-color: var(--secondary-bg-hover);
}

.form_usuario button,
.form_horario button,
.form_empresa button,
.form_agenda button {
  width: 100%;
  height: 30px;
  min-width: 190px;
  max-width: 200px;
  margin-left: 3px;
  border-radius: 4px;
}

/*conteiner tabelas*/
/*
 {
  width: 60vh;
  max-width: 725px;
}

 {
  width: 100%;
  max-width: 1100px;
}
*/
.tabela_horario table,
.tabela_agenda table,
.tabela_usuario table,
.tabela_empresa table {
  width: 110vh;
  max-width: 1500px;
}

.info_horario {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.data-passado {
  background-color: rgba(227, 26, 56, 0.584);
  font-weight: bold;
  color: #f2f2f2;
}

.data-hoje {
  background-color: rgba(10, 178, 10, 0.518);
  font-weight: bold;
  color: #f2f2f2;
}

.data-futuro {
  background-color: rgba(104, 143, 215, 0.429);
  font-weight: bold;
  color: #f2f2f2;
}

.vai_volta {
  width: 350px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.vai_volta button {
  width: 7%;
  height: 25px;
  min-width: 100px;
}

.loading {
  animation: spin 1s linear infinite;
  transform-origin: center; /* Gira no próprio eixo */
}

/* bagui que gira */
@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* Responsividade */
/*Navbar*/
@media (max-width: 1000px) {
  body{
    margin-left: 0px;
  }

  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }

  table {
    width: 90%;
    max-width: 780px;
  }

  .tabela_agenda table {
    max-width: 400px;
    position: relative;
  }

  table button {
    width: 70%;
    min-width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .form-atualizacao {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-wrap: wrap;
  }

  .form_usuario,
  .form_horario,
  .form_empresa,
  .form_agenda {
    flex-wrap: wrap;
  }
  .form_usuario:hover,
  .form_horario:hover,
  .form_empresa:hover,
  .form_agenda:hover {
    background-color: var(--secondary-bg-hover);
  }
  .form_usuario button,
  .form_horario button,
  .form_empresa button,
  .form_agenda button{
    width: 70%;
    min-width: 187px;
  }

  .form_agenda hr,
  .form_usuario hr {
    margin-top: -10px;
    margin-bottom: 20px;
  }

}
@media (max-width: 800px) {
  .nav-logo-container {
    min-width: 5%;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }

}

/*Pages*/
@media (max-width: 768px) {
  .login-container,
  .form_usuario,
  .form_horario,
  .form_empresa,
  .form_agenda,
  .resultado_agendamento_busca {
    width: 95%;
    max-width: none;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  .form_usuario,
  .form_horario,
  .form_empresa,
  .form_agenda{
    text-align: center;
  }

  .login-container button {
    width: 35%;
    max-width: 200px;
  }
  .form-group1 {
    gap: 14px;
  }
  .form-group2 {
    gap: 10px;
  }

  .tabela_agenda button {
    width: 30%;
  }

  .vai_volta {
    margin-left: 10px;
  }
  .vai_volta button {
    min-width: 100px;
  }
}
