/*Variáveis CSS*/
:root {
  --secondary-bg: rgba(0, 0, 0, 0.25);
  --secondary-bg-hover: rgba(0, 0, 0, 0.4);
  --text-color: #6cd875;
  --shadows: rgba(0, 0, 0, 0.4);
  --input-bg: #251f1f;
  --input-border: rgb(67, 185, 106);
  --button-bg: rgb(67, 185, 106);
  --button-hover-bg: rgb(97, 214, 136);
  --border-radius: 25px;
}

/*Estilos globais*/
body {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  background-image: radial-gradient(rgb(112, 144, 165), rgb(14, 49, 114));;
  color: var(--text-color);
  height: 115vh;
}

input {
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  color: #000000;
}

button {
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px var(--shadows);
  background-color: var(--button-bg);
  transition: 0.5s;
}
button:hover {
  background-color: var(--button-hover-bg);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.100);
}

table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 3px 3px var(--shadows);
  text-shadow: 2px 2px var(--shadows);
}

th, td {
  padding: 12px;
  text-align: center;
}

td {
  background-color: var(--secondary-bg);
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr {
  transition: 0.5s;
  border-bottom: 1px solid rgb(0, 0, 0);
}

tr:hover {
  background-color: var(--secondary-bg-hover);
}

table button {
  width: 30%;
  height: 30px;
  margin: 3px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--button-bg);
  color: white;
}

/*Navbar*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  background-color: var(--secondary-bg);
  padding-right: 1%;
  padding-left: 1%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 0.5s;
}

nav:hover{
  background-color: var(--secondary-bg-hover)
}
.navbar-menu-container {
  display: none;
}
.navbar-links-container a {
  margin-right: 2rem;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 600;
  text-shadow: 2px 2px var(--shadows);
  transition: 0.5s;
}

.navbar-links-container a:hover {
  position: relative;
  font-size: 22px;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: rgb(104, 53, 53);
  color: var(--text-color);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.navbar-cart-icon {
  font-size: 1.15rem;
  transition: 0.5s;
}
.navbar-cart-icon:hover {
  position: relative;
  font-size: 1.70rem;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: #1b70a8;
}
/*/////////////////////////////////////////*/

/* Container de Login */
.login-container {
  text-align: center;
  margin: 5% auto 0 auto;
  padding: 5% 3%;
  width: 90%;
  max-width: 500px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadows);
  background-color: var(--secondary-bg);
  transition: 0.5s;
}

.login-container:hover {
  background-color: var(--secondary-bg-hover);
}

.form-group1{
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.form-group2 {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap; /* Para telas menores */
}

.login-container button {
  width: 35%;
  padding: 10px;
  margin-top: 15px;
}
/*/////////////////////////////////////*/

/* Container de Agendamentos */
.agenda_conteiner_geral,
.horarios_container_geral,
.conteiner_empresas,
.conteiner_usuario
{
  margin-left: 1%;
}

.conteiner_agendamento {
  background-color: var(--secondary-bg-hover);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 20px;
}

.conteiner_agendamento button {
  height: 30px;
  width: 200px;
}

.agendamento_1 {
  display: flex;
  align-items: baseline;
}

.resultado_agendamento_busca, 
.resultado_empresas_busca {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-color);
}

.resultado_agendamento_busca button,
.resultado_empresas_busca button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-right: 3%;
  max-width: 150px;
  height: 30px;
  width: 25%;
}


.tabela_agenda table {
  width: 100%;
  max-width: 600px;
}

.resultado_agendamento_busca li .data {
  margin-right: 3%;
  color: var(--text-color);
}

.vai_volta button {
  width: 7%;
  height: 25px;
  margin-top: 20px;
  margin-right: 10px;
  min-width: 100px;
}

/*Conteiner de horarios*/
.add_horario {
  width: 50%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: var(--secondary-bg);
  box-shadow: 2px 2px var(--shadows);
  transition: 0.5s;
}
.add_horario:hover {
  background-color: var(--secondary-bg-hover);
}
.add_horario button {
  width: 20%;
  height: 33px;
}

.lista_horarios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  max-width: 650px;
  text-shadow: 2px 2px var(--shadows);
  box-shadow: 2px 2px var(--shadows);
  border-radius: 20px;
  background-color: var(--secondary-bg);
  transition: 0.5s;
}
.lista_horarios:hover{
  background-color: var(--secondary-bg-hover);
} 

.lista_horarios li {
  color: rgb(28, 231, 96);
}

.lista_horarios button {
  margin-left: 20px;
  height: 25px;
  width: 125px;
}
/*//////////////////////////////////////////////*/

/*Conteiner de Empresas*/
.conteiner_empresas form {
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.conteiner_empresas form button {
  width: 10%;
  max-width: 150px;
  min-width: 150px;
  height: 30px;
  margin: 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--button-bg);
  color: white;
}

.conteiner_empresas form button:hover, 
table button:hover {
  background-color: var(--button-hover-bg);
}

/* Responsividade */
/*Navbar*/
@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }

  table {
    width: 90%;
    max-width: 780px;
  }

  .tabela_agenda table {
    position: relative;
    max-width: 400px;
  }

  .conteiner_empresas form {
    display: flex;
    flex-wrap: wrap;
  }
  .conteiner_empresas form button{
    display: flex;
    width: 70%;
    min-width: 187px;
    justify-content: center;
    flex-direction: column;
    align-items: center
  }

  table button {
    display: flex;
    width: 70%;
    min-width: 200px;
    justify-content: center;
    flex-direction: column;
    align-items: center
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }

}

/*Pages*/
@media (max-width: 768px) {
  .login-container,
  .conteiner_agendamento,
  .resultado_agendamento_busca {
    width: 95%;
    max-width: none;
    padding: 10px;
  }

  .tabela_agenda table {
    margin-left: auto;
    margin-right: auto;
  }

  .conteiner_agendamento{
    align-items: center;
  }

  .login-container button {
    width: 35%;
    max-width: 200px;
  }
  .form-group1 {
    gap: 14px;
  }
  .form-group2 {
    gap: 10px;
  }

  .resultado_agendamento_busca button {
    width: 30%;
  }

  .vai_volta {
    margin-left: 10px;
  }
  .vai_volta button {
    min-width: 100px;
  }
}
