body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #422020;
    color: #7286a2;
  }
  
  button {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  input {
    padding: 8px;
    margin: 5px;
    background-color: #251f1f;
    border: 1px solid #f3e7e7;
    border-radius: 4px;
    color: #f3e7e7;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    color: #000000;
  }
  
  li {
    background-color: #fbfbfb49;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }